<div class="col-sm-12">
    <h4 class="text-center" style="margin: 7px"> Single page app, view 1 </h4>


    <div class="row">
        <div class="col-sm-5 boxed">
            <button class="btn btn-primary" ng-click="loadResults()">Reload {{x}}</button>

        </div>
        <div class="col-sm-7 text-right boxed">

            <span ng-if="!R.logonService.loggedIn">
                <input type="text" ng-model="username" placeholder="username" class="number-input">
                <input type="password" ng-model="password" placeholder="password" class="number-input">

            </span>

            <button class="btn btn-success logonbutton"
                    ng-click="R.logonService.login(username,password)"
                    ng-if="!R.logonService.loggedIn"
                    title="Zaloguj do systemu">Zaloguj
            </button>

            <button class="btn btn-default logonbutton"
                    ng-click="R.logonService.logout()"
                    ng-if="R.logonService.loggedIn"
                    title="Zaloguj do systemu">Wyloguj
            </button>


        </div>
    </div>


    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th width="30%" ng-click="M.tableorder='sourceHost'" class="clickable"> Imię</th>
            <th width="30%" ng-click="sortByNazwisko()" class="clickable"> Nazwisko</th>
            <th width="20%" ng-click="sortByScore()" class="clickable"> Score</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="r in M.results">
            <td>{{r.imie}}</td>
            <td>{{r.nazwisko}}</td>
            <td>{{r.score }}</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="margin-bottom: 15px">
                <div class="card-header  bg-info text-white">
                    Zalogowany użytkownik
                </div>
                <div class="card-body">
                    Użytkownik:
                    <input type="text" ng-model="R.user.album" class="number-input">,
                    token: {{R.user.wdauth}}
                </div>
                <div class="card-footer">
                    (footer)
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    {{nazwaArtykulu}} {{x}}
                </div>
                <div class="card-body">
                    Abra kadabra
                    <div class="card-body">
                        <h5 class="card-title">Tytuł karty</h5>
                        <p class="card-text">
                            Wynik dodawania x i y = {{ x * y}}  <br>
                            W zmiennej AABB jest: {{ AABB + AABB}}
                        </p>
                        <input type="text" ng-model="x" placeholder="zmienna x" class="number-input">
                        <input type="text" ng-model="y" placeholder="zmienna y" class="number-input">
                        <button class="btn btn-info" ng-click="wyliczIloraz(x,y)">

                            Iloraz</button>
                        <button class="btn btn-info" ng-click="wyliczIloczyn(x,y)">
                            <i class="fas fa-times"></i>
                            Iloczyn</button>
                        <input type="text" ng-model="iloraz" readonly="true">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="card">
                <div class="card-header">
                    Panel edycji
                </div>
                <div class="card-body">

                    <div class="card-body">
                        <h5 class="card-title">Edycja punktów gracza</h5>
                        <p class="card-text">
                            Tu edytujemy punkty
                        </p>
                        <input type="text" ng-model="x">
                        <input type="text" ng-model="y" ng-keydown="$even.keyCode===13 && doit()">
                        <button class="btn btn-primary" ng-click="wyliczIloraz(x,y)">
                            Wylicz iloraz</button>
                        <input type="text" ng-model="iloraz" readonly="true">
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
